<section id="contact">
  <p class="section-title">{{ t.nav.contact }}</p>
  <div id="contact-card">
    <h1>{{ t.contact.title }}</h1>
    <ul class="bullet-list">
      <li><a href="https://www.github.com/{{ s.github_username }}"><i class="fab fa-github github-icon"></i><span class="accent">GitHub</span></a></li>
      <li><a href="https://www.linkedin.com/in/{{ s.linkedin_username }}"><i class="fab fa-linkedin github-icon"></i><span class="accent">LinkedIn</span></a></li>
      <li><a href="https://t.me/{{ s.telegram_username }}"><i class="fab fa-telegram github-icon"></i><span class="accent">Telegram</span></a></li>
    </ul>
  </div>
</section>
