{% assign t = site.data.translations[page.lang] %}
{% assign p = site.data.projects %}
<section id="portfolio">
  <p class="section-title">Portfolio</p>
  <div id="portfolio-card">
    <h1>{{ t.portfolio.android_title }}</h1>
    <div class="projects-container">
      {% for project in p.projects %}
        {% if project.type == "android" %}
          <div class="flip-card-android">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <a href="{{ project.github_url }}" class="project-title accent"><i class="fab fa-github github-icon"></i>{{ project.title }}</a>
                <button class="flip-btn"><i class="fa-solid fa-rotate-left"></i></button>
                <div class="carousel">
                  {% for screenshot in project.screenshots %}
                    {% assign alt_parts = screenshot.alt_text_key | split: '.' %}
                    {% assign k0 = alt_parts[0] %}
                    {% assign k1 = alt_parts[1] %}
                    {% assign k2 = alt_parts[2] %}
                    {% assign t_l1 = t[k0] %}
                    {% assign t_l2 = t_l1[k1] %}
                    {% assign alt_text = t_l2[k2] %}
                    <img src="/assets/imgs/{{ project.id }}/{{ page.lang }}/{{ screenshot.path }}" class="carousel-image {% if forloop.first %}active{% endif %}" alt="{{ alt_text }}" loading="lazy">
                  {% endfor %}
                </div>
                <div class="carousel-actions">
                  <button class="carousel-btn left"><i class="fa-solid fa-chevron-left"></i></button>
                  <div class="carousel-dots carousel-dots-width"></div>
                  <button class="carousel-btn right"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
              </div>
              <div class="flip-card-back">
                <button class="flip-btn"><i class="fa-solid fa-rotate-right"></i></button>
                <div class="project-details">
                  <a href="{{ project.github_url }}" target="_blank" class="project-title accent"><i class="fab fa-github github-icon"></i>{{ project.title }}</a>
                  {% if project.tags %}
                  <div class="project-tags">
                    {% for tag in project.tags %}
                      <span class="project-tag">{{ tag }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% for description_key in project.description_keys %}
                    {% assign desc_parts = description_key | split: '.' %}
                    {% assign d0 = desc_parts[0] %}
                    {% assign d1 = desc_parts[1] %}
                    {% assign d2 = desc_parts[2] %}
                    {% assign dt_l1 = t[d0] %}
                    {% assign dt_l2 = dt_l1[d1] %}
                    {% assign desc_text = dt_l2[d2] %}
                    <p class="project-description">{{ desc_text }}</p>
                  {% endfor %}
                  <p class="project-section-title accent">{{ t.portfolio.stack_subtitle }}</p>
                  <p class="project-description">{{ project.stack }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <h1>{{ t.portfolio.web_title }}</h1>
    <div class="projects-container">
      {% for project in p.projects %}
        {% if project.type == "web" %}
          <div class="flip-card-web">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <a href="{{ project.github_url }}" class="project-title accent"><i class="fab fa-github github-icon"></i>{{ project.title }}</a>
                <button class="flip-btn"><i class="fa-solid fa-rotate-left"></i></button>
                <div class="carousel desktop">
                  {% for screenshot in project.screenshots.desktop %}
                    {% assign alt_parts = screenshot.alt_text_key | split: '.' %}
                    {% assign k0 = alt_parts[0] %}
                    {% assign k1 = alt_parts[1] %}
                    {% assign k2 = alt_parts[2] %}
                    {% assign t_l1 = t[k0] %}
                    {% assign t_l2 = t_l1[k1] %}
                    {% assign alt_text = t_l2[k2] %}
                    <img src="/assets/imgs/{{ project.id }}/{{ page.lang }}/desktop/{{ screenshot.path }}" class="carousel-image {% if forloop.first %}active{% endif %}" alt="{{ alt_text }}" loading="lazy">
                  {% endfor %}
                </div>
                <div class="carousel mobile">
                  {% for screenshot in project.screenshots.mobile %}
                    {% assign alt_parts = screenshot.alt_text_key | split: '.' %}
                    {% assign k0 = alt_parts[0] %}
                    {% assign k1 = alt_parts[1] %}
                    {% assign k2 = alt_parts[2] %}
                    {% assign t_l1 = t[k0] %}
                    {% assign t_l2 = t_l1[k1] %}
                    {% assign alt_text = t_l2[k2] %}
                    <img src="/assets/imgs/{{ project.id}}/{{ page.lang }}/mobile/{{ screenshot.path }}" class="carousel-image {% if forloop.first %}active{% endif %}" alt="{{ alt_text }}" loading="lazy">
                  {% endfor %}
                </div>
                <div class="carousel-actions">
                  <button class="carousel-btn left"><i class="fa-solid fa-chevron-left"></i></button>
                  <div class="carousel-dots"></div>
                  <button class="carousel-btn right"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
              </div>
              <div class="flip-card-back">
                <button class="flip-btn"><i class="fa-solid fa-rotate-right"></i></button>
                <div class="project-details">
                  <a href="{{ project.github_url }}" target="_blank" class="project-title accent"><i class="fab fa-github github-icon"></i>{{ project.title }}</a>
                  {% if project.tags %}
                  <div class="project-tags">
                    {% for tag in project.tags %}
                      <span class="project-tag">{{ tag }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% for description_key in project.description_keys %}
                    {% assign desc_parts = description_key | split: '.' %}
                    {% assign d0 = desc_parts[0] %}
                    {% assign d1 = desc_parts[1] %}
                    {% assign d2 = desc_parts[2] %}
                    {% assign dt_l1 = t[d0] %}
                    {% assign dt_l2 = dt_l1[d1] %}
                    {% assign desc_text = dt_l2[d2] %}
                    <p class="project-description">{{ desc_text }}</p>
                  {% endfor %}
                  <p class="project-section-title accent">{{ t.portfolio.stack_subtitle }}</p>
                  <p class="project-description">{{ project.stack }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
