<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        {% include google_analytics.html %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ page.description }}" />
        <title>{{ page.title }}</title>
        {% seo %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet" />
        <link rel="alternate" hreflang="en" href="https://simonedelgrosso.github.io/en/" />
        <link rel="alternate" hreflang="it" href="https://simonedelgrosso.github.io/it/" />
        <link rel="alternate" hreflang="x-default" href="https://simonedelgrosso.github.io/" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    </head>
    <body data-color-scheme="dark">
        {% include navigation_section.html %}
        {% include hero_section.html %}
        {% include about_section.html %}
        {% include education_section.html %}
        {% include certifications_section.html %}
        {% include experience_section.html %}
        {% include skills_section.html %}
        {% include projects_section.html %}
        {% include contact_section.html %}
        {% include footer_section.html %}
        <script src="/assets/js/script.js"></script>
    </body>
</html>
